* {
    margin: 0;
    padding: 0;
    }

body {
    justify-items: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #445069;
    padding-top: 100px;
    background-image:"assets/discordia2.jpg";
    background-size:cover ;
}

.title {
    font: size 20px;

}
#titulo {
color: aliceblue;
}


#loginForm {
background-color: rgb(80, 112, 148);
position: center;
margin-top: 50px;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
margin: 30px;
padding: 30px;
border-radius: .8em;

}

#loginForm input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;

}
button {
cursor: pointer;
background-color: #61677A;
padding: 10px 30px;
color: #f0f8ff;
border-radius: .7em;
}
button:hover {
    background-color:#d9805f

}
#registration{
    font: size 20px;
    color:aliceblue;
    padding: 20px;
}
.RegisterForm{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
}

#perfil {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:  rgb(80, 112, 148);
}

#datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagen {
    width: 10px;
    height: 20px;
    border-radius: 20%;
}

.nombre_usuario, .nick, .nombre, .apellido, .email {
    width: 95%;
    padding: 10px;
    border: 2px solid #252B48;
    margin-bottom: 10px;
    color: aliceblue;
}


#botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#contraseña {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#contraseña_actual, #nueva_contraseña, #confirmar_contraseña {
    width: 100%;
    padding: 10px;
    border: 1px solid #252B48;
    margin-bottom: 10px;
}

#Ccontraseña {
    font-size: large;
    color:aliceblue;
}